/* Student name: Muhammad Slahuddeen */


/* Student ID: 16423832 */

body {
    color: #3F3F3F;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    /* this font is from the Google fonts API */
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
    height: 100%;
    padding: 0;
}


/**************************************Header**********************************************/


/* both nav and navbtnalign are used on the banner buttons as a way of ordering them */

.nav {
    display: flex;
    order: -1;
    padding: 0em;
    flex-direction: column;
}

.navbtnalign {
    list-style-type: none;
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


/* defines the attributes for the header (top banner) containing the titles and nav bar with buttons */

.bannertop {
    margin-top: 1em;
    left: 0;
    right: 0;
    padding: 1em 0 1em 0;
    background-color: #1E2832;
    bottom: 0;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    top: 0;
}


/* the bellow three image links are used in the banners of the contact me, my, bio and my CV pages */

.contactme_banner {
    background-image: url("../images/overlay-min.png"), url("../images/gtxcard-min.jpg");
}

.mycv_banner {
    background-image: url("../images/overlay-min.png"), url("../images/keyboard-min.jpg");
}

.mybio_banner {
    background-image: url("../images/overlay-min.png"), url("../images/therig-min.jpg");
}


/* sets the style for the banner buttons when you are not on their page.
also sets the style for the form submit button */

.bannerbutton, .bannerbtnactive, button {
    display: flex;
    border-radius: 2.5em;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    min-width: 10em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #ffffff;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* when you are on the buttons page this is how it will look */

.bannerbtnactive {
    background-color: #ffffff;
    color: black;
}


/* the banner buttons will turn red when hovered over */

a.bannerbutton:hover {
    box-shadow: inset 0 0 0 3px #990000;
    color: #990000;
}


/**************************************Content classes**********************************************/


/* defines the background image attributes for the homepage */

.home {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-image: url("../images/overlay-min.png"), url("../images/pokemon_dubai-min.jpg");
    top: 0;
    width: 100%;
    height: 100%;
}


/* the main and aside classes are both inspired by the lecturer, Liz CS on codepen */


/* the wrapper functions much like to container, in that it separates the main and aside classes*/

.wrapper {
    /* source 1 start */
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-bottom: 70px;
}


/* the main class has all the primary items of the page, takes up 60% of the page */

.main {
    padding: 1em;
    background: #ffffff;
    text-align: center;
}


/* source 1 end */


/* used on the main in the homepage as a way of centering the titles */

.center {
    flex-direction: column;
    margin-top: 10%;
    position: relative;
}


/* aside is esentaily a sidebar */

.aside {
    /* source 1 start*/
    display: inline-block;
    justify-content: center;
    padding: 1em;
    background: #F2F2F2;
    text-align: center;
    /* source 1 end */
}


/**************************************Headings**********************************************/


/* the h1 and h2 both have animations inspired by the TGA, Thomas Rose on codepen */

h1, h2 {
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 2em;
    text-transform: uppercase;
    color: white;
    margin: auto;
    animation: heading-anim 1.5s linear 1;
}

h2 {
    margin: 0 0 1em 0;
    text-transform: uppercase;
    color: #990000;
    animation: heading-anim 1s linear 1;
}

h3 {
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    color: #990000;
}


/* this is the sliding heading animation */

@keyframes heading-anim {
    /* source 2 start */
    0% {
        /* start */
        transform: translate3d(-10%, 0, 0);
        opacity: 0;
    }
    100% {
        /* end */
        transform: none;
        opacity: 1;
    }
}


/* source 2 end */


/**************************************Tables**********************************************/


/* the next five classes are all table related (see the top of the CV page),
they are changes to the regular table that fit more in line with the theme i chose */

.tablealign {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    border-spacing: 0.5em;
    flex-direction: row;
}

tr {
    background-color: #D3D3D3;
}

td {
    background-color: #F2F2F2;
    padding: 1em;
}


/* coloured the top sections of the tables in red to make them stand out
  and also fit in with the red, white and grey theme of the site */

th {
    color: #990000;
}


/**************************************Grids**********************************************/


/* the next seven classes are used on the CV page.
they act similar to a table but are in fact al stored in an unordered list */

.grid {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.grid_row {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.grid-item {
    display: flex;
    float: left;
    margin: 0.5em;
    width: 200px;
    height: 100px;
    background-color: #F2F2F2;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    line-height: 1em;
}


/* different shades of grey for the grid squares */

.light {
    background-color: #F1F1F1;
}

.mid {
    background-color: #EDEDED;
}

.dark {
    background-color: #E5E5E5;
}

.darker {
    background-color: #DEDEDE;
}

ul {
    color: black;
    list-style-position: outside;
}


/**************************************Gallery**********************************************/


/* both thumbnail-item and thumbnail-image were used to
create distinct image blocks that are shrunken down versions of the full image */

.thumbnail-item {
    display: inline-block;
    min-width: 20em;
    max-width: 20em;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.profile{
  padding-top: 1em;
  width: 50%;
  height: 50%;

}


/* the next four classes are inspired by the gallery on html goodies (link at the bottom of the page).*/


/* the gallery is basicly an unordered list that stores the images as list items */

.gallery {
    /* source 4 start */
    display: inline-block;
    flex: 0 1 auto;
    order: 2;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.tabitem {
    display: inline-block;
    width: 20em;
    height: 10em;
    min-width: 20em;
    max-width: 20em;
    position: relative;
}

a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition-property: width, height, right, z-index;
    transition-duration: 1s;
    position: absolute;
    z-index: 1;
    right: 0;
}


/* when clicked on the image will expand in size by 250% using css animations */

a:focus img {
    display: inline-block;
    width: 250%;
    height: 250%;
    position: absolute;
    box-shadow: 0 0 15px 2px #000;
    transition-property: width, height, right, z-index;
    transition-duration: 1s;
    cursor: default;
    z-index: 25;
    right: 0;
}


/* source 4 end */


/**************************************Forms**********************************************/


/* the bellow six classes are used in the form on the contact me page,
inspired by thomas rose on codepen */

form {
    /* source 3 start */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
}


/* styles the textboxes to be more inline with my theme */

textarea, input[type="text"] {
    display: flex;
    border-radius: 2.5em;
    line-height: 2.95em;
    min-width: 10em;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    border-color: lightgrey;
}


/* source 3 end */

input[type="text"] {
    height: 2.85em;
}


/* when clicked on turn red */

textarea:focus, input[type="text"]:focus {
    border-color: #990000;
}


/* sets the idle look of the normal button */

button {
    border-style: solid;
    border-width: 3px;
    display: block;
    outline: 0;
    padding: 0em 1em;
    align-self: center;
    width: 20%;
    border-color: lightgrey;
    color: grey;
}


/* when hovered on turn red */

button:hover {
    border-color: #990000;
    color: #990000;
}


/**************************************Footer**********************************************/


/* container is used to postition the footers at the bottom of the page */

.container {
    height: 100%;
    min-height: 100%;
    position: relative;
}


/* the footer type that is used on the homepage */

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 0.5em;
    width: 100%;
}


/* the footer used on all pages apart from the homepage */

.bannerbottom {
    position: absolute;
    background-color: #1E2832;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 0.5em;
    bottom: 0;
    width: 100%;
    height: 60px;
}


/* the next five classes are all related  to the font awesome contact buttons*/


/* this changes the defult colour to red */

a .fa {
    color: #990000;
}


/* when hovered over the buttons will turn white */

a .fa:hover {
    color: white;
}


/* orders the contact buttons to follow the footer */

.contactbtns {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    animation: contact-anim 1s linear 1;
}


/* for the contact buttons (in the footer) this is their sliding animation */

@keyframes contact-anim {
    /* source 2 start */
    0% {
        /* start */
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    100% {
        /* end */
        transform: none;
        opacity: 1;
    }
}


/* source 2 end */


/* when the page is bellow 50ems (for phone ratios) the site will look like this*/

@media (max-width: 50em) {
    .main {
        flex: 1 0 auto;
    }
    /* due to the small screen size to view the full image it had to be slightly displaced
to get it in the center of the screen */
    a:focus img {
        left: -10em;
    }
    /* the tables in the CV page will go in to column formation */
    .tablealign {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* nav and navbtnalign will order the buttons in cloumn formaion */
    .nav {
        padding: 1em;
        align-items: stretch;
        justify-content: space-between;
    }
    .navbtnalign {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 80em) {
    .grid {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 50em) {
    .wrapper {
        flex-direction: row;
    }
    .navbtnalign {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button {
        flex: auto;
    }
    .main {
        flex: auto;
    }
    .aside {
        width: 40%;
    }
}

/* Sources
All images on the site belong to me, I have either created them or photographed them.
1. Coulter Smith, L. (2016) Flex layout example. Available at: https://codepen.io/lizcoultersmith/pen/xEoYQv (Accessed: 29 December 2016).
2. Rose, T. (2016) Animation example template. Available at: http://codepen.io/UoN-ThomasRose/pen/rWYOve (Accessed: 29 December 2016).
3. Rose, T. (2016) HTML form example. Available at: http://codepen.io/UoN-ThomasRose/pen/NbYrGj (Accessed: 29 December 2016).
4. Rohde, M. (2011) How to create an image gallery using CSS3. Available at: http://www.htmlgoodies.com/html5/css/how-to-create-a-css3-based-image-gallery.html#fbid=qc338OaHV8V (Accessed: 29 December 2016).
*/
